<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minbo.springdemo.web.mybatistest.UserMapper">

	<insert id="save" parameterType="com.minbo.springdemo.web.mybatistest.User">
		insert into user(username,age)
		values(#{userName,jdbcType=VARCHAR},#{age,jdbcType=NUMERIC})
	</insert>

	<select id="selectById" resultType="com.minbo.springdemo.web.mybatistest.User">
		select * from user where id
		= #{id,jdbcType=NUMERIC}
	</select>

	<update id="updateById" parameterType="com.minbo.springdemo.web.mybatistest.User">
		update user set
		username = #{userName,jdbcType=VARCHAR} ,
		age = #{age,jdbcType=NUMERIC}
		where id
		= #{id,jdbcType=NUMERIC}
	</update>

	<delete id="deleteById">
		delete from user where id = #{id,jdbcType=NUMERIC}
	</delete>

	<select id="queryAll" resultType="com.minbo.springdemo.web.mybatistest.User">
		select * from user
	</select>

</mapper>