<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.minbo.springdemo.web.mybatis.PersonDtoMapper">

    <resultMap id="Person" type="com.minbo.springdemo.web.mybatis.Person" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="age" property="age" />
    </resultMap>

    <!-- 根据ID查询数据 -->
    <select id="findById" resultType="Person">
    	select * from person
    </select>
    
</mapper>