<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.demo.vo.CityVo">

	<select id="listCities111" resultType="com.md.demo.vo.CityVo">
		select * from city1
	</select>
	
	<select id="listCities222" resultType="com.md.demo.vo.CityVo">
		select * from city2
	</select>

</mapper>